# Ignore Visual Studio cache and build outputs
.vs/
cpp/**/x64/
cpp/**/Debug/
cpp/**/Release/
**/*.obj
**/*.pch
**/*.pdb
**/*.ilk
**/*.log
**/*.tlog
**/*.idb
**/*.enc

# Ignore user settings
*.user
*.suo

# Ignore local config files
cpp/config.jsondesktop.ini

desktop.ini

cpp/config.json
